<!doctype html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <title>Together Form Builder</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://cdn.rawgit.com/odra/ng-json-explorer/master/dist/angular-json-explorer.min.css">
  <link rel="stylesheet" href="https://unpkg.com/bootswatch@3.3.7/yeti/bootstrap.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
  <link rel="stylesheet" href="css/ngFormBuilder-full.css" />
  <link href="css/jsoneditor.css" rel="stylesheet" type="text/css">
  <script src="js/jsoneditor.js"></script>
  <script src="https://bgrins.github.io/filereader.js/filereader.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2014-11-29/FileSaver.min.js"></script>
</head>

<body ng-app="formBuilder">
  <!-- BROWSE HAPPY BEGINS HERE -->
  <style>
    #jsoneditor {
      width: 100%;
      height: 500px;
    }

    .browsehappy {
      display: block;
      width: 100%;
      height: 100px;
      background-color: #f2dede;
      margin: 0 0 10px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 22px;
      line-height: 1.4;
      color: #333;
      padding-top: 15px;
      vertical-align: middle;
    }

    .browsehappy span {
      vertical-align: middle;
      margin: 20px 20px 20px 20px;
      background: url("https://cdn.rawgit.com/alrra/browser-logos/master/internet-explorer/internet-explorer_64x64.png") no-repeat;
      height: 64px;
      width: 64px;
      display: inline-block;
    }

    .formbuilder {
      height: 600px;
    }

    .formcomponents {
      width: 30%;
    }

    .formarea {
      width: 70%;
    }

    .component-settings .nav-link {
      font-size: 0.6em;
    }

    .jsonviewer {
      max-height: 600px;
      overflow: scroll;
    }

    .form-type-select {
      display: inline-block;
      width: 100px;
      height: 28px;
      vertical-align: top;
    }
  </style>
  <!--[if IE 6]><p class="browsehappy"><img />You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
  <!--[if IE 7]><p class="browsehappy"><img src="https://cdn.rawgit.com/alrra/browser-logos/master/internet-explorer/internet-explorer_64x64.png" />You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
  <!--[if IE 8]><p class="browsehappy"><img src="https://cdn.rawgit.com/alrra/browser-logos/master/internet-explorer/internet-explorer_64x64.png" />You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
  <!--[if IE 9]><p class="browsehappy"><img src="https://cdn.rawgit.com/alrra/browser-logos/master/internet-explorer/internet-explorer_64x64.png" />You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
  <!-- BROWSE HAPPY ENDS HERE -->
  <div class="jumbotron">
    <div class="container text-center">
      <h1>TOGETHER FORM BUILDER</h1>
    </div>
  </div>
  <div class="page-content" ng-app="formioApp">
    <div class="container-fluid">

      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <pre class="text-center bg-info"><h4><code>Json Form Editor</code></h4></pre>
          <div class="well">
            <p>
              Load a JSON document:
              <input type="file" id="loadDocument" value="Load" />
            </p>
            <p>
              Save a JSON document:
              <input type="button" id="saveDocument" value="Save" />
              <button ng-click="myFunc()">Preview</button>
            </p>

            <div id="jsoneditor"></div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-1">
          <pre class="text-center bg-info"><h4><code>&lt;form-builder form="form"&gt;&lt;/form-builder&gt;</code></h4></pre>
          <div class="well" style="background-color: #fdfdfd;">
            <form-builder form="form"></form-builder>
          </div>
        </div>
        <div class="col-sm-4">
          <pre class="text-center bg-info"><h4><code>Renders as a form in your Application</code></h4></pre>
          <div class="well">
            <formio form="form" ng-if="renderForm"></formio>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <script src="https://cdn.ckeditor.com/4.5.11/standard/ckeditor.js"></script>
  <script src="https://unpkg.com/signature_pad@1.5.3/signature_pad.min.js"></script>
  <script src="js/ngFormBuilder-full.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/loadJsonForm.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
  <script src="https://cdn.rawgit.com/odra/ng-json-explorer/master/dist/angular-json-explorer.min.js"></script>
  <script type="text/javascript">
    angular
      .module("formBuilder", ["ui.bootstrap", "ui.select", "formio", "ngFormBuilder", "ngJsonExplorer"])
      .run([
        "$rootScope",
        'formioComponents',
        '$timeout',
        function (
          $rootScope,
          formioComponents,
          $timeout
        ) {
          $rootScope.displays = [{
            name: 'form',
            title: 'Form'
          }, {
            name: 'wizard',
            title: 'Wizard'
          }];
          $rootScope.form = arrForm;
          $rootScope.myFunc = function () {
            $rootScope.form = JSON.parse(editor.getText());
          };
          $rootScope.renderForm = true;
          $rootScope.$on('formUpdate', function (event, realform) {
            angular.merge($rootScope.form, realform);
            $rootScope.renderForm = false;
            setTimeout(function () {
              $rootScope.renderForm = true;
              editor.setText(JSON.stringify($rootScope.form));
            }, 10);
          });

          var originalComps = _.cloneDeep($rootScope.form.components);
          originalComps.push(angular.copy(formioComponents.components.button.settings));
          $rootScope.jsonCollapsed = true;
          $timeout(function () {
            $rootScope.jsonCollapsed = false;
          }, 200);
          var currentDisplay = 'form';
          $rootScope.$watch('form.display', function (display) {
            if (display && (display !== currentDisplay)) {
              currentDisplay = display;
              if (display === 'form') {
                $rootScope.form.components = originalComps;
              } else {
                $rootScope.form.components = [{
                  type: 'panel',
                  input: false,
                  title: 'Page 1',
                  theme: 'default',
                  components: originalComps
                }];
              }
            }
          });
        }
      ]);
  </script>

  <script>
    // create the editor
    var editor = new JSONEditor(document.getElementById('jsoneditor'), { mode: "code" });

    // Load a JSON document
    FileReaderJS.setupInput(document.getElementById('loadDocument'), {
      readAsDefault: 'Text',
      on: {
        load: function (event, file) {
          editor.setText(event.target.result);
        }
      }
    });

    // Save a JSON document
    document.getElementById('saveDocument').onclick = function () {
      // Save Dialog
      fname = window.prompt("Save as...");

      // Check json extension in file name
      if (fname.indexOf(".") == -1) {
        fname = fname + ".json";
      } else {
        if (fname.split('.').pop().toLowerCase() == "json") {
          // Nothing to do
        } else {
          fname = fname.split('.')[0] + ".json";
        }
      }
      var blob = new Blob([editor.getText()], { type: 'application/json;charset=utf-8' });
      var realform = editor.getText();
      saveAs(blob, fname);
    };
  </script>
</body>

</html>